
.login-box{
     width: 400px;
     margin: auto;
     margin-top: 92px;
     height: fit-content;
     display: flex;
     flex-direction: column;
     gap: 10px;

}

.login-box img.logo-image{
     height: 90px;
     width: 100%;
     object-fit: contain;
     margin: auto;
     position: relative;
}

.login-quote{
     color: #888;
     font-size: 14px;
     text-align: center;
     margin-top: 10px;
}

@media screen and (max-width:756px){
     .login-box{
          top: 0;bottom: 0; right: 0;left: 0;
          width: 100%;
     }
     
}

.login-err-message{
     color: rgb(182, 12, 12);
     text-align: center;
     display: flex;
     gap: 6px;
     font-size: 15px;
     align-content: center;
     justify-content: center;
}