
.admin-view-page-content{
     display: grid;
     grid-template-columns: auto 1fr auto;
     grid-template-rows: 1fr;
     gap: 3px;
     column-gap: 12px;
     align-items: center;
}

.admin-view-page-content > section:nth-child(1){
     width: 100%; height: 100%;
     object-fit: contain;
     margin: auto;
}

.admin-view-page-content > section:nth-child(2){
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-content: flex-start;
     height: 100%;
     width: 100%;
     object-fit: contain;
}

