nav.pagination-buttons {
     position: relative;
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;  justify-content: center;
     overflow-x: auto;
     height: 42px;
}

nav.pagination-buttons ul{
     position: absolute;
     top: 0; left: 0;
     list-style: none;
     padding: 0; margin: 0;
     gap: 2px;
     display: flex;
     flex-direction: row;
     align-items: center;  justify-content: center;

}


nav.pagination-buttons ul li{

}
nav.pagination-buttons ul li.selected{
     border: solid 2px rgba(45, 108, 202, 0.466);
     border-radius: 4px;
}