.common-pool {
     height: fit-content;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     width: 100%;
     gap: 8px;
}

@media screen and (max-width: 1024px) {
     .common-pool {
          grid-template-columns: 1fr;
     }
}
