.dash-item{
    width: 100%;  height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 12px;
    gap: 4px;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--admin-dark-color);
    box-shadow: 0px 2px 3px #0003;
    border-radius: 6px;
    text-align: center;
}

.dash-item > :nth-child(1){
    height: 64px;
}
.dash-item > :nth-child(1) > :nth-child(1){  height: 100%; width: 100%; padding: 10px;}
.dash-item > :nth-child(2){
    font-size: 24px
}
.dash-item:hover{
    outline: solid 4px rgb(13, 74, 143, .15);
    cursor: pointer;
    transition: all .05s;
}
