.App, .App * {
  box-sizing: border-box;
  height: fit-content;
  font-family: "Montserrat", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.role-frame{
  display: flex;
  position: fixed;
  bottom:0;
  right: 0;
  width: fit-content;
  height: fit-content;
  border: solid 2px red;
  z-index: 99;
}